body {
    width: 100%;
}

header {
    background-image: url(images/bg-header-desktop.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

article.art-title {
    width: 560px;
    align-self: center;
}

div.div-btn {
    flex-flow: row nowrap;
    width: 560px;
    justify-content: center;
    align-self: center;
}

div.div-btn button{
    width: 40%;
}

section#sec-desktop {
    align-items: center;
}

section#sec-desktop div#div-desktop {
    flex-flow: row;
    justify-content: space-between;
}

section#sec-desktop div#div-desktop img {
    width: 50%;
    justify-self: center;
    align-self: center;
}

section#sec-desktop div#div-desktop article.art-subtitle {
    margin: auto;
    width: 25%;
}

section#sec-desktop div#div-desktop article.art-subtitle h1 {
    font-size: 1.3em;
}

section#sec-desktop div#div-desktop article.art-subtitle p {
    font-size: 0.9em;
}

section#sec-mobile img{
    width: 70% ;
}

section#sec-tools {
    padding: 30px;
    flex-flow: row nowrap;
    justify-content: space-between;
}

section#sec-tools div {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    align-self: flex-start;
    align-items: center;
}

section#sec-tools div img {
    margin: 0px;
    width: 40px;
    height: 40px;
}

section#sec-logos {
    flex-flow: row wrap;
    justify-content: space-between;
}

footer {
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

footer nav {
    flex-flow: row wrap;
}