@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --btn-green: #29A58D;
    --btn-blue: #6174FF;
    --textB: hsl(210, 10%, 33%);
    --textS: hsl(201, 11%, 66%);
    --footer: #F5F6F8;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    margin: auto;
    flex-flow: column nowrap;
    justify-content: center;
    width: 375px;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39)
}

header {
    background-image: url(images/bg-header-mobile.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
    text-align: center;
}

article.art-title{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    margin: 20px 0px;
}

h1 {
    color: var(--textB);
    font-weight: 600;
}

p {
    color: var(--textS);
    font-weight: 400;
    line-height: 1.5em;
}

a {
    color: var(--textB);
    text-decoration: none;
}

article.art-subtitle, section#sec-tools h1 {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
    margin: 10px 0px;
}

article.art-subtitle h1, section#sec-tools h1 {
    font-size: 1.5em;
}

div.div-btn {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

div.div-btn button {
    width: 70%;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: white;
}

div.div-btn button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: transform .5s;
}

div.div-btn button#btn-green {
    background-color: var(--btn-green);
    box-shadow: 0px 2px 0px #1e806e;
}

div.div-btn button#btn-blue {
    background-color: var(--btn-blue);
    box-shadow: 0px 2px 0px #4553bb;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

section#sec-desktop {
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    text-align: center;
}

section#sec-desktop div#div-desktop {
    display: flex;  
    flex-flow: column nowrap;
    gap: 30px;
}

section#sec-desktop img {
    width: 100%;
}

section#sec-mobile {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    text-align: center;
}

section#sec-mobile img {
    width: 100%;
}

section#sec-tools {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px;
    text-align: center;
    gap: 40px;
}

section#sec-tools img {
    margin: 20px 0px 0px 0px;
}

section#sec-logos {
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    align-items: center;
    padding: 100px;
}

section#sec-download {
    display: flex;
    flex-flow: column nowrap;
    padding: 50px;
    text-align: center;
}

footer {
    background-color: var(--footer);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    padding: 30px;
    gap: 30px;
}

footer img {
    width: 50px;
}

footer nav {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

footer nav a:hover {
    text-decoration: underline;
}

footer div#div-btn-logos {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
}

footer div#div-btn-logos img {
    width: 30px;
}

footer div#div-btn-logos a:hover {
    transform: translateY(-5px);
    transition: transform .5s;
}